/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu+Mono&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono';
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* Variables */
/* 
:root {
    --main-color: brown;
    --second-color: #edeea3;
    --text-color: black;
    --bg-color: white;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    aligh-item: center;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.menu-container .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: black;
}

.menu-container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: white;
    border-radius: 0.5rem;
}

.menu-container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
}

.menu-container .box .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-container .box .content span {
    padding: 0 1rem;
    color: ;
    background: ;
    border-radius: 4px;
    font-weight: 500;
}

.menu-container .box .content a {
    padding: 0 1rem;
    color: ;
    border-radius: 4px;
    font-weight: 500;
} */

#slogan-section {
    background-image: url("../images/pablo-merchan-montes.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#about-us-section {
    background-color: #3e342a;
    display: flex;
    flex-direction: row;
    text-align: justify;
}

#about-us-section img {
    width: 80%;
    padding: 50px;
    border-radius: 20%;
}

#first-child,
#second-child,
#third-child {
    width: 33%;
    color: white;
}

#coffee-type-subsection {
    display: flex;
    flex-direction: column;
}

.width100 {
    width: 200px;
}

#coffee-type-section {
    text-align: center;
}

#coffee-type-subsection-first-child {
    display: flex;
    flex-direction: row;
}
#coffee-type-subsection-second-child {
    display: flex;
    flex-direction: row;
}
#coffee-type-subsection-third-child {
    display: flex;
    flex-direction: row;
}